
.idea/workspace.xml
.idea/workspace.xml
.gradle/8.4/dependencies-accessors/dependencies-accessors.lock
.gradle/8.4/dependencies-accessors/dependencies-accessors.lock
.gradle/8.4/dependencies-accessors/dependencies-accessors.lock
.gradle/8.4/fileHashes/fileHashes.bin
.gradle/8.4/fileHashes/fileHashes.lock
.idea/workspace.xml
.idea/workspace.xml
*.xml
.idea/workspace.xml
*.xml
/.idea
*.xml
/.idea
