/.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.gradle\8.6\executionHistory\executionHistory.lock
.gradle\buildOutputCleanup\buildOutputCleanup.lock
